--- 
---

@import 'framalibre-common';

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    label, section.plateformes, section.langues {
        display: flex;
        flex-direction: column;
    }

    section.plateformes, section.langues{
        label {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            input {
                display: inline-block;
                width: 2rem;
                margin-right: 0.5rem;
            }
        }
    }
}

.confirmation {
    text-align: center;
}

.confirmation__text {
    font-size: 1.5rem;
    margin: 0 auto 3rem;
    max-width: 80%;
}