<head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <link rel="icon" href="data:,">

    <title>{{ site.title }}</title>

    <meta name="description" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link crossorigin="anonymous" rel="stylesheet" href={{ "style/bootstrap.min.css" | relative_url }}>
    <link href="https://josephk.frama.io/accueil/main.css" rel="stylesheet" type="text/css" />
    <link crossorigin="anonymous" rel="stylesheet" href="{{ "style/layout.css" | relative_url }}">

    {%- include polyfills.html -%}

    {%- include layout-page-styles.html -%}

    {%- include layout-page-scripts.html -%}

</head>
