<header id="f-header">
  <div class="mt-4 px-0 titre-site">
    <div class="row mx-0 align-items-end justify-content-between">
      <div class="pl-0 col-lg-8">
        <a class="name" href="{{ "/" | relative_url}}" title="Accueil">
          <h1 class="framalibre-title">
            Framalibre
            <em>
              L'annuaire du Libre
            </em>
          </h1>
        </a>
      </div>
      <div class="pr-0 pl-0 col-lg-2 text-right--on-large-screen">
        <a class="btn btn--create" href="/contribuer">
          Créer une notice
        </a>
      </div>
    </div>
  </div>
</header>
